*{
  margin: 0;
  padding: 0;
}

header{
  font-size: 3em;
  text-align: center;
}
.flexbox-section{
  margin: 10px;

  max-width: 100%;
  
}
.flexbox-section h2{
  
   font-size: 2em;
   width: 25%;
   text-align: center;
  
   

}
.flexbox-list{

  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}
.flexbox-item {

  padding: 10px 10px;
  margin: 20px auto;
  max-width:20%;
  flex-grow: 1;
}
img{
  max-width: 70%;
}
.flexbox-item:first-child{
  max-width: 40%;
}
.grid-section h2{
   font-size: 2em;
   width: 25%;
   text-align: center;

}
.grid-list{
  margin: auto 20px;
  border: 2px solid red;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr
}
.grid-item{
  margin: auto 20px;
  padding: 20px 20px;
  text-align: center;

}
.grid-item:first-child{

  grid-column: 1/3;
}
@media (max-width: 600px) {
  .flexbox-list{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .flexbox-item{
   max-width: 100%;
    border: 1px solid black;
  }
  .flexbox-item:first-child{
    max-width: 100%;
  }
  .grid-list{
    display: grid;
    grid-template-columns: 100%;
  
  }
  .grid-item:first-child{
    grid-column: 1/2;
  }
}
@media (min-width:600px )and( max-width:1024px) {
  .flexbox-item:first-child{
    max-width: 50%;
  
  }
  .flexbox-item:nth-child(2){
    
  }
  .grid-list{
    grid-template-columns: 1fr 1fr 1fr ;

  }
  .grid-item:first-child{
    grid-column: auto;
  }
}